@model CategoryViewModel

<div>

<form method="post" asp-action="Create" asp-controller="Category">
    <input asp-for="BaseCategoryId" type="hidden" />
    <input asp-for="FromHome" type="hidden" />

    <label asp-for="Name"></label>
    <input asp-for="Name" value="" />
    @{
        bool? hasError = (bool?)TempData["CreateCategoryFailed"];
    }
    @if (hasError != null && hasError.Value)
    {
        <span asp-validation-for="Name"></span>
    }
    <input type="submit" value="Create" />
</form>

</div>