@model ContentViewModel
@{
    ViewData["Title"] = Model!.Category!.Name;
}

<h1>@Model.Category.Name</h1>
@if (Model.Category.BaseCategoryId != null)
{
    <a asp-action="Index" asp-controller="Content" asp-route-categoryId="@Model.Category.BaseCategoryId">
        Back
    </a>
}
else
{
    <a asp-action="Index" asp-controller="Home">Back</a>
}

@foreach (var category in Model.Categories)
{
    Model.CategoryViewModel.Import(category, false);
    <partial name="../Partials/Category.cshtml" model="Model.CategoryViewModel" />
}

<partial name="../Partials/CreateCategoryForm.cshtml" model="Model.CategoryViewModel" />

@foreach (var todo in Model.Todos)
{
    Model.TodoViewModel.Import(todo);
    <partial name="../Partials/Todo.cshtml" model="Model.TodoViewModel" />
}

<partial name="../Partials/CreateTodoForm.cshtml" model="Model.TodoViewModel" />