<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoApp</title>
</head>
<body>
    <header>
        <a asp-action="Index" asp-controller="Home">Home</a>
        @if (@Context.Session.IsSignedIn())
        {
            <a asp-action="Logout" asp-controller="Account">Log out</a>
        }
        else
        {
            <a asp-action="Signin">Sign in</a>
            <a asp-action="Signup">Register</a>
        }
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
