@model CategoryNode

<div style="display: flex; flex-direction: row;">

    <div style="margin-right: 2rem;"></div>
    <div>
         <span>-</span>
         <a href="">@Model!.Category.Name</a>
         <br />
        @foreach (var childNode in @Model.ChildNodes)
        {
            <partial name="CategoryPartial.cshtml" model="@childNode" />
        }
</div>

</div>