@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@foreach (var category in @Model!.Categories)
{
    <partial name="../Partials/Category.cshtml" model="@category" />
}

<button>Create New Category</button>