@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

@foreach (var category in @Model!.Categories)
{
    Model.CategoryViewModel.Import(category);
    <partial name="../Partials/Category.cshtml" model="@Model.CategoryViewModel" />
}

<partial name="../Partials/CreateCategoryForm.cshtml" model="@Model.CategoryViewModel" />

