@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@foreach (var category in @Model!.Categories)
{
    <partial name="../Partials/Category.cshtml" model="@category" />
}

<button>Create New Category</button>
<form method="post" asp-action="CreateCategory">
    <input asp-for="CreateCategoryModel.NewCategoryHasError" type="hidden" />
    <label asp-for="CreateCategoryModel.NewCategoryName"></label>
    <input asp-for="CreateCategoryModel.NewCategoryName" />
    <span asp-validation-for="CreateCategoryModel.NewCategoryName"></span>
    <input asp-for="CreateCategoryModel.UserId" type="hidden" />
    <input type="submit" value="Create" />
</form>