@model SigninViewModel

<form asp-action="Signin" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Sign in" />
    </div>
    <p>or</p>
    <div>
        <a asp-action="Signup">Sign up</a>
    </div>
</form>